body{
	background-image: url("../images/d.png");
	background-size: 100% 100%;
}
#pd{
	float: right;
}
#add{
	width: 70px;
	height: 30px;
	border-radius: 7px;
	border: none;
	box-shadow: 0px 0px 10px rgba(13, 110, 47, 1);
	color:rgb(81, 0, 128);
	background:url("../images/d.png");;
	text-align: center;

}
#add1,#submit{
	width: 70px;
	height: 30px;
	border-radius: 7px;
	border: none;
	box-shadow: 0px 0px 10px rgba(13, 110, 47, 1);
	background:url("../images/d.png");
	text-align: center;
}
.header{
	background-color: #CCFFFF;
	padding: 20px;
	border-radius: 10px;
	width: 1650px;
	height: 50px;
	box-shadow: 0px 0px 10px rgba(13, 110, 47, 1);
	position: relative;
}
#tes{
	width: 410px;
	height: 30px;
	margin-left:20px;
	border-radius: 7px;
	border: none;
	background: url("../images/d.png");
	box-shadow: 0px 0px 10px rgba(13, 110, 47, 1);
}
#no{
	width: 310px;
	height: 30px;
	border-radius: 7px;
	border: none;
	background: url("../images/d.png");
	box-shadow: 0px 0px 10px rgba(13, 110, 47, 1);
}
#tessubmit{
	width: 150px;
	height: 30px;
	border-radius: 7px;
	border: none;
	box-shadow: 0px 0px 10px rgba(13, 110, 47, 1);
	background:url("../images/d.png");
	text-align: center;
}
#food{
	width: auto;
	height: 30px;
	border-radius: 7px;
	border: none;
	background: url("../images/d.png");
	box-shadow: 0px 0px 10px rgba(13, 110, 47, 1);
}
#que{
	width: 300px;
	height: 30px;
	
	border-radius: 7px;
	border: none;
	background: url("../images/d.png");
	box-shadow: 0px 0px 10px rgba(13, 110, 47, 1);
}
#op,#an{
	width: 150px;
	height: 30px;
	margin-left:10px;
	
	border-radius: 7px;
	border: none;
	background: url("../images/d.png");
	box-shadow: 0px 0px 10px rgba(13, 110, 47, 1);
}
#que1{
	width: 300px;
	height: 30px;
	
	border-radius: 7px;
	border: none;
	background: url("../images/d.png");
	box-shadow: 0px 0px 10px rgba(13, 110, 47, 1);
}
#op1,#an1{
	width: 150px;
	height: 30px;
	margin-left:10px;
	border-radius: 7px;
	border: none;
	background: url("../images/d.png");
	box-shadow: 0px 0px 10px rgba(13, 110, 47, 1);
}
#q{
	width: 30px;
	height: 30px;
	border-radius: 7px;
	border: none;
	box-shadow: 0px 0px 10px rgba(13, 110, 47, 1);
}
header, footer {
    padding: 1em;
    color: black;
    
    clear: left;
    text-align: center;
}
#foot{
	background-color: white;
	color: blue;
}
#table{
	width: 700px;
	height: 200px;
	background: #00FFFF;
}
#button{
	background:url("../images/d.png");
	font-size: 30px;
	width: 120px;
	height: auto;
	border: none;
	color: white;
	border-radius: 2px;
}
#button:hover{
	box-shadow: 0px 0px 30px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}